node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

dist

Dockerfile
docker-compose.yml
compose.yml

*.log
logs
*.tmp
tmp
temp

.git
.gitignore
.gitlab-ci.yml
.github
.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

.env
.env.*
